.tab-pane {
    display: block !important;
}

.c1 {
    left: 1200px !important;
    transform: translate3d(0, 0, 0) !important;
}

.c1:before {
    left: 1200px !important;
    transform: translate3d(300px, 0, 0) !important;
}

.pos{
    left:2px !important;
    transform:translate3d(-100%,0,0) !important;
     transition: 300ms cubic-bezier(0.7, 0, 0.3, 1) !important;
}