.navbar-nav {
    margin-left: 20%;
    position: absolute;
    list-style-type: none;
}

.img-circle {
    width: 10%;
    margin-top: -3px;
}

#c {
    top: -17px;
}

#a {
    margin-top: 1%;
    margin-left: 52%;
    position: absolute;
    float: right;
}

#b {
    margin-left: 68%;
    margin-top: -5%;
}

#d {
    width: 59px;
    margin-left: 49%;
    margin-top: 4px;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: white !important;
}

#e {
    width: 106%;
    margin-top: -5px;
    margin-left: 830%;
}

#nav-icon1 {
    width: 21px;
    height: 1px;
    background-color: black;
    margin: 6px 0;
}

#nav-icon2 {
    width: 18px;
    height: 1px;
    background-color: black;
    margin: 6px 0;
}

#nav-icon3 {
    width: 24px;
    height: 1px;
    background-color: black;
    margin: 6px 0;
}

#f {
    margin-top: -7%;
    margin-left: 92%;
}

.dropdown-menu {
    top: 170%;
    left: -10px;
}

.navbar-brand {
    font-size: small;
    margin-top: -6px;
}

#d5 {
    width: 24%;
    margin-left: 18%;
}

.two {
    margin-top: -17px;
}

.dropdown-toggle {
    color: black;
}

.status {
    top: 15px;
    right: 13px;
}

#e12 {
    margin-top: -24px;
    margin-left: inherit;
    margin-top: -2px;
}

.navbar-default {
    background-color: white;
}

#e:hover {
    background: gainsboro;
}

#v1 {
    margin-left: -550%;
    margin-top: -23px;
    padding-right: 108px;
}

#v2 {
    margin-left: -58px;
    width: 38px;
}

.small {
    color: gray;
}

.f1 {
    margin-left: 210px;
}

.f2 {
    margin-left: 9px !important;
}

.f12 {
    margin-left: 6px;
    margin-top: -30px;
    font-size: 11px;
}

#e:hover {
    background-color: lightgray !important;
}

#f:hover {
    background-color: lightgray !important;
}

.f14 {
    top: 98px !important;
}

.alt2 {
    margin-left: -270px !important;
}

.alt3 {
    margin-left: 42% !important;
}

.alt4 {
    width: 1177px !important;
}

.pos1 {
    
     transform:translate3d(300px,0,0) !important;
     transition: 300ms cubic-bezier(0.7, 0, 0.3, 1) !important;
}


/*
.animated {
    border-radius: 14px;
    animation-duration: 1s;
    animation-fill-mode: both;
    background-color: #d96557;
    border-color: #d96557;
}

@keyframes animated {
    0%,
    100%,
    20%,
    53%,
    80% {
        transition-timing-function: cubic-bezier(.215, .61, .355, 1);
        transform: translate3d(0, 0, 0);
    }
    40%,
    43% {
        transition-timing-function: cubic-bezier(.755, .050, .855, .060);
        transform: translate3d(0, -30px, 0);
    }
    70% {
        transition-timing-function: cubic-bezier(.755, .050, .855, .060);
        transform: translate3d(0, -15px, 0);
    }
    90% {
        transform: translate3d(0, -4px, 0);
    }
}
*/