<div ng-controller="myctrl1">
<nav class="navbar navbar-default" style="position:fixed;width:100%;height:65px;top:-5px" ng-class="{'alt4':isClicked5}">
    <ul class="navbar-nav f1" ng-class="{'f2':isClicked}">
        <li>
            <p class="navbar-brand" ng-class="{'alt2':isClicked5}">Dashboard</p>
        </li>
    </ul>

    <ul class="nav navbar-nav" id="a" ng-class="{'alt3':isClicked5}">
        <li class="dropdown" id="c">

            <a href=" " id="e" ng-click="demo1();">
                <i class="fa fa-circle-thin"></i>
            </a>

        </li>


        <li class="dropdown" id="d">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" style="margin-left:6px;">
                <i class="fa fa-bell-o"> </i>
                <div class="f12">
                    <i class="fa fa-circle-thin animated" style="background-color: indianred;
    border-radius: 5px;">
                     </i>
                </div>
            </a>

            <ul class="dropdown-menu" id="v1">
                <li class="notification-header">
                    <p class="small text">You have 3 messages </p>
                </li>
                <hr style="margin-top:-9px;width:144%">
                <li>
                    <ul class="notification list">
                        <li style="list-style-type:none">
                            <a href=""></a>
                            <span class="pull-left mt2 mr15"> 
                <img class="img-circle" id="v2" alt="" src="images/img_avatar2.png"> 
                </span>
                            <div style="width:105%;margin-top: -1%; margin-left: -6px;color: black; display:inline-block;">
                                <span id="color">Seal launched the new application</span>
                                <span id="color1">2 seconds ago</span>
                            </div>
                        </li>
                        <hr style="margin-top: 15px;margin-left: -28%;margin-right: -59%;">
                        <li style="list-style-type:none">
                            <a href="">
                                <img class="img-circle" id="v2" alt="" src="images/img_avatar2.png">
                            </a>
                            <div style="width: 108%;margin-top: -15%;margin-left: -6px;color: black;">
                                <span>Removed chrome from the app list</span>
                                <span>4 hours ago</span>
                            </div>


                        </li>
                        <hr style="margin-top: 17px; width: 153%;margin-left:-28%;padding-right:34%;">
                        <li style="list-style-type:none;">
                            <a href="">
                                <img class="img-circle" id="v2" alt="" src="images/img_avatar2.png">
                            </a>
                            <div style="width:78%;color: black;margin-top: -30px; margin-left: -3%;">
                                <span id="co">Jack hunt has registered</span>
                                <span>9 hours ago</span>
                            </div>

                        </li>
                    </ul>
                </li>
                <hr style="margin-top:14px;width:145%">
                <li class="notification-header">
                    <p class="small text h1">See all messages</p>
                </li>

            </ul>
        </li>

        <li class="dropdown" id="b">
            <div class="dropdown two" data-toggle="dropdown">
                <span class="dropdown-toggle" data-toggle="dropdown">Samuel Perkin
          <img src="images/img_avatar2.png" class="img-circle">
         </span>
                <ul class="dropdown-menu">
                    <li id="e12"><a href="">Settings</a></li>
                    <li id="e12"><a href="">Upgrade</a></li>
                    <li id="e12"><a href="">Notifications<span class="label label-danger" id="d5">34</span></a></li>
                    <li id="e12"><a href="">Help</a></li>
                    <li id="e12"><a href="">Logout</a></li>
                </ul>
            </div>
        </li>

        <li id="f" ng-click="demo2();">
            <div class=" " style="width: 30px;height: 25px;">
                <div id="nav-icon1"></div>
                <div id="nav-icon2"></div>
                <div id="nav-icon3"></div>
            </div>
        </li>

    </ul>
</nav>
</div>