<div class="configuration" style="height: 470px;background-color: white;position:fixed;margin-left:1437px;z-index: 1;background-color: white;" ng-controller="myctrl6" ng-class="{l1:show2}">


    <div class="configuration cog">
        <span class="glyphicon glyphicon-cog" style="position:fixed;height:46px;width: 38px;float: right;left: 1403px;top:207px;background-color: white;padding: 14px;border-radius: 3px;" ng-click="show1();" ng-class="{l2:show2}"></span>
    </div>

    <div class="configuration-options" style="margin-top:46px;
    position: relative;z-index:1;">

        <div class="title" style="background-color: white;float: right;padding: 13px;top: -177%;width:299px;margin-top: -46px;margin-left:13%;"> CONFIGURATION</div>

        <div class="option" style="background-color:white;display:inline-block;width:101%;height:43px;padding:10px">
            <span>Collapsed Sidebar</span>
            <label class="switch pull-right" style="left: -55px;width:38px;height:20px;position:relative;background-color:darkgray;border-radius:20px;" ng-click="testone();">
                <input type="checkbox" style="margin-left: 9px; display: none; margin-top: -13px;">
                <span>
                <i class="handle" ng-click="testone();" ></i>
                </span>
            </label>

        </div>

        <div class="option" style="background-color:white;display:inline-block;width:101%;height:43px;padding:10px">
            <span>Chat panel opened</span>
            <label class="switch pull-right" style="left: -55px;width: 38px;height: 20px;position:relative;background-color:darkgray;border-radius:20px;">
                <input type="checkbox" style="margin-left:12px;display: none; margin-top: -13px;">
                <span> 
        <i class="handle" ng-click="demo2();"></i> 
        </span>
            </label>

        </div>

        <div class="option" style="background-color:white;display:inline-block;width:101%;height:43px;padding:10px">
            <span>Fixed Header</span>
            <label class="switch pull-right" style="left: -55px;width: 38px;height: 20px;position:relative;background-color:darkgray;border-radius:20px;">
                <input type="checkbox" style="margin-left:12px;display: none; margin-top: -13px;">
                <span> 
        <i class="handle"></i> 
        </span>
            </label>

        </div>


        <div class="option" style="background-color:white;display:inline-block;width:101%;height:43px;padding:10px">
            <span>Boxed</span>
            <label class="switch pull-right" style="left: -55px;width: 38px;height: 20px;position:relative;background-color:darkgray;border-radius:20px;">
                <input type="checkbox" style="margin-left:12px;display: none; margin-top: -13px;">
                <span> 
        <i class="handle"></i> 
        </span>
            </label>

        </div>
        <div class="option" style="background-color:white;display:inline-block;width:101%;height:43px;padding:10px">
            <span>Static Sidebar</span>
            <label class="switch  pull-right" style="left: -55px;width: 38px;height: 20px;position:relative;background-color:darkgray;border-radius:20px;">
                <input type="checkbox" style="margin-left:12px;display: none; margin-top: -13px;">
                <span> 
        <i class="handle"></i> 
        </span>
            </label>

        </div>



        <div class="option" style="background-color:white;display:inline-block;width:101%;height:43px;padding:10px">
            <span>Right Sidebar</span>
            <label class="switch pull-right" style="left: -55px;width: 38px;height: 20px;position:relative;background-color:darkgray;border-radius:20px;">
                <input type="checkbox" style="margin-left:12px;display: none; margin-top: -13px;">
                <span> 
        <i class="handle" ng-click="alter();"></i> 
        </span>
            </label>

        </div>




        <div class="option" style="background-color:white;display:inline-block;width:101%;height:43px;padding:10px">
            <span>Fixed Footer</span>
            <label class="switch  pull-right" style="left: -55px;width: 38px;height: 20px;position:relative;background-color:darkgray;border-radius:20px;">
                <input type="checkbox" style="margin-left:12px;display: none; margin-top: -13px;">
                <span> 
        <i class="handle"></i> 
        </span>
            </label>

        </div>


        <div class="option" style="width:205%;height:43px;padding:10px;">
            <h6 style="width: 108px;margin-top:-1px;">Sidebar Styles</h6>
            <label class="j1 " style="margin-top: 41px;opacity:0.8;background-color:black;">
                <input type="radio" style="display:block;position:absolute;margin-top: -21px;opacity:0;">
                <i class="fa fa-check" style="position:absolute;margin-top: 8px;margin-left: 6px;"></i>
                <div style="background-color:black;height:9px;opacity:0.6;width:28px;"></div>
                <div style="background-color:black;height:1px;opacity:0.6;width:28px;"></div>
                <div style="background-color:black;height:20px;opacity:0.6;width:28px;"></div>
            </label>

            <label class=" j2" style="margin-top: 41px;opacity:0.8;background-color:black;">
                <input type="radio" style="display:inline-block;position:absolute;margin-top: -21px;opacity:0;">

                <i class="fa fa-check" style="position:absolute;margin-top: 8px;margin-left: 6px;"></i>
                <div style="background-color:black;height:9px;opacity:0.6;width:28px;"></div>
                <div style="background-color:black;height:1px;opacity:0.6;width:28px;"></div>
                <div style="background-color:black;height:20px;opacity:0.6;width:28px;"></div>
            </label>
            <label class=" j3" style="margin-top: 41px;opacity:0.8;background-color:black;">
                <input type="radio" style="display:inline-block;position:absolute;margin-top: -21px;opacity:0;">

                <i class="fa fa-check" style="position:absolute;margin-top: 8px;margin-left: 6px;"></i>
                <div style="background-color:black;height:9px;opacity:0.6;width:28px;"></div>
                <div style="background-color:black;height:1px;opacity:0.6;width:28px;"></div>
                <div style="background-color:black;height:20px;opacity:0.6;width:28px;"></div>
            </label>

            <label class="j4 " style="margin-top: 41px;opacity:0.8;background-color:black;">
                <input type="radio" style="display:inline-block;position:absolute;margin-top: -21px;opacity:0;">

                <i class="fa fa-check" style="position:absolute;margin-top: 8px;margin-left: 6px;"></i>
                <div style="background-color:black;height:9px;opacity:0.6;width:28px;"></div>
                <div style="background-color:black;height:1px;opacity:0.6;width:28px;"></div>
                <div style="background-color:black;height:20px;opacity:0.6;width:28px;"></div>
            </label>

            <label class="j5 " style="margin-top: 41px;opacity:0.8;background-color:black;">
                <input type="radio" style="display:inline-block;position:absolute;margin-top: -21px;opacity:0;">

                <i class="fa fa-check" style="position:absolute;margin-top: 8px;margin-left: 6px;"></i>
                <div style="background-color:green;height:9px;opacity:0.6;width:28px;"></div>
                <div style="background-color:black;height:1px;opacity:0.6;width:28px;"></div>
                <div style="background-color:black;height:20px;opacity:0.6;width:28px;"></div>
            </label>


            <label class="j6 " style="margin-top: 41px;opacity:0.8;background-color:black;">
                <input type="radio" style="display:inline-block;position:absolute;margin-top: -21px;opacity:0;">

                <i class="fa fa-check" style="position:absolute;margin-top: 8px;margin-left: 6px;"></i>
                <div style="background-color:red;height:9px;opacity:0.6;width:28px;"></div>
                <div style="background-color:black;height:1px;opacity:0.6;width:28px;"></div>
                <div style="background-color:black;height:20px;opacity:0.6;width:28px;"></div>
            </label>

        </div>
    </div>
</div>